* {
    box-sizing: border-box;
}
@media screen and (max-width: 767px){
body {
    background-color: #167E13;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    margin-top: 90px;
    min-height: 100vh;
    font-size: 42px;  
    }
main { 
    border:  4px solid white;
    height: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 15%;
}
h2{
    font-size:26px;
    margin: 10px;
}
p{
    font-size: 28px;
}
li{
    font-size: 30px;
    list-style: none;
    height:100px;
}
label{
    font-size: 34px;
}
h1 {
    font-size: 36px;
}
#nombre-des {
    margin: 20px;
    height: 30px;
 }
#face-des {
    margin: 20px;
    height: 30px;
}
#lancer{
    border-radius: 15%;
    background-color:red;
    font-size: 30px;
}
#retour{
    border-radius: 15%;
    background-color:red;
    font-size: 30px;
}
#relancer{
    margin: 10px;
    border-radius: 15%;
    background-color:rgb(7, 7, 7);
    color: white;
    font-size: 30px;
}
}
@media screen and (min-width: 768px){
    body {
        background-color: #167E13;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align:center;
        margin-top: 90px;
        min-height: 100vh;
        font-size: 42px;  
        }
    main { 
        border:  4px solid white;
        height: 300px;
        width: 300px;
        padding: 10px;
        border-radius: 15%;
    }
    h2{
        font-size:26px;
        margin: 10px;
    }
    p{
        font-size: 28px;
    }
    li{
        font-size: 30px;
        list-style: none;
        height:100px;
    }
    label{
        font-size: 34px;
    }
    h1 {
        font-size: 36px;
    }
    #nombre-des {
        margin: 20px;
        height: 30px;
     }
    #face-des {
        margin: 20px;
        height: 30px;
    }
    #lancer{
        border-radius: 15%;
        background-color:red;
        font-size: 30px;
    }
    #retour{
        border-radius: 15%;
        background-color:red;
        font-size: 30px;
    }
    #relancer{
        margin: 10px;
        border-radius: 15%;
        background-color:rgb(7, 7, 7);
        color: white;
        font-size: 30px;
    }
}